*.iml
*.ipr
*.iws
*.tmproj
*~
.DS_Store
.classpath
.generators
.idea
.log
.manager
.project
.rakeTasks
.settings
build
eclipse-bin
elephant-bird-cascading2/target
elephant-bird-core/target
elephant-bird-hive/target
elephant-bird-pig/target
elephant-bird-rcfile/target
elephant-bird-mahout/target
elephant-bird-core/test.txt
